$succesMain: #22bb88;
$violetTmp: #9c4a7d;
$color-primary-1: #87CEFA;
$border-primary-1: black;
$color-focus-1: #00308f;
$color-white-1: #fff;
$color-error-1: #DC143C;
$color-warning-1: #FF8C00;
$color-background: #DCDCDC;

