@mixin font--copy1() {
  font-size: 13px !important;
  font-weight: 500;
  line-height: 1.25;
  font-family: 'Open Sans', sans-serif;
}

@mixin font--copy2() {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  font-family: 'Open Sans', sans-serif;
}

