.el-input {
  &__innter {
    color: red;
  }

  &__wrapper {
    &:hover {
      box-shadow: 0 0 0 1px $color-primary-1;
    }
    &.is-focus {
      box-shadow: 0 0 0 2px $color-focus-1;
    }
  }
}